.generic-content {
  p,
  li {
    font-size: 1.15rem;
  }

  blockquote,
  blockquote p {
    font-size: 1.5rem;
    font-style: italic;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Segoe UI", sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 2rem;
    color: $mainOrange;
  }
  h3 {
    font-size: 1.7rem;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.15rem;
  }

  @include atSmall {
    h1 {
      font-size: 6.25rem;
    }
    h2 {
      font-size: 2rem;
      color: $mainOrange;
    }
    h3 {
      font-size: 1.7rem;
      font-weight: 600;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.9rem;
    }
    h6 {
      font-size: 1.15rem;
    }
  }

  .wp-block-details {
    border: 2px solid $mainOrange;
    padding: 10px;
    border-radius: 5px;

    summary {
      cursor: pointer;
      user-select: none;
      font-weight: 600;
    }

    p:first-of-type {
      margin-top: 20px;
    }

    p {
      margin-bottom: 20px;
    }

  }
}
