.testimonials-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: column;

    @include atSmallMedium {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}

.testimonial-box {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee; 
    background-color: #fafafa; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

    @include atSmallMedium {
        box-shadow: none;
        &:not(:last-child) {
            margin-right: 20px;
        }
        &:first-child {
            ::before {
                display: none;
            }
        }
    }

    ::before,
    ::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 50%;
        background-color: #ddd;
        z-index: -1;
    }

    ::before {
        left: 0;
    }

    ::after {
        right: 0;
    }

    ::after {
        content: "";
        background-image: url(/images/quote.webp);
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        height: 104px;
        opacity: 0.05;
        padding: 5px;
        position: absolute;
        right: -31px;
        top: 163px;
        width: 150px;
        z-index: 1;
    }
}

.testimonial-content {
    margin-top: 0;
}

.testimonial-author {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-top: auto;
    color: $mainOrange;
}

.testimonial-company {
    margin-top: 10px;
}
