@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atSmallMedium {
  @media (min-width: 767px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 960px) {
    @content;
  }
}

body {
  color: #333;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.generic-content img {
  display: block;
  margin: 0 auto;
}

.featured-image {
  display: block;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $mainOrange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol {
  margin: 0 0 1.65em 0;
}

p,
li {
  line-height: 1.65;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2.5rem 0;
}

.formkit-powered-by-convertkit-container {
  display: none !important;
}
